body{
    background-color: #212529;
    color: white;
}

.bg{
    background-color: #6200ff !important;
    font-weight: 900;
    color: white !important;
}
.bg2:hover{
    background-color: tomato !important;
    cursor: pointer;
}